* {
    box-sizing: border-box;
  } 

body{
  margin:0;
  background-color: #f4f4f4;
  width:100vw;
}

img{
    max-width: 100%;
}

header{
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  border-bottom: 2px black solid;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.05);
}

header img{
  height:50px;
}

header img:hover{
  cursor: pointer;
}

.icon{
  height:30px;
}

.icon:hover{
  filter: invert(53%) sepia(10%) saturate(16%) hue-rotate(317deg) brightness(93%) contrast(95%);
}

#category{
  font-family: public sans, sans-serif;
  font-size: 1.2em;
}

#category span:hover{
  text-decoration: underline;
  cursor: pointer;
}

h1{
  font-size: 2.5em;
}

#imagebox{
  margin: auto;
}

#caption{
  font-size: .8em;
  color: #75726a;
  text-align: center;
}

#byline{
  display:flex;
  height:100px;
  align-items: center;
  gap:30px;
  padding-left: 30px;
}

#profile{
  height:75px; 
  width:75px;
}

#dayton, #date{
  font-family: public sans, sans-serif;
  color: rgb(74, 74, 74);
}

#dayton{
  font-size: 1em;
}

#dayton:hover{
  text-decoration: underline;
  cursor: pointer;
}

#date{
  font-size: .8em;
}

main{
  padding:15px;
  margin: .1% 15%;
}



p{
  font-family: public sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.55;
  /* width:65%;
  margin: auto; */
}

#articlebox{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: space-evenly;
}

#articlebox p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1;
  font-family: public sans, sans-serif;
  margin: 5px 0px;
}

.article{
  width:32%;
}

.article:hover{
  color:#75726a;
  cursor: pointer;
}

footer{
  background-color: rgb(46, 46, 46);
  margin: 0;
  color: #f4f4f4;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:30px;
}

footer div{
  margin:auto;
  font-family: public sans, sans-serif;
  display: flex;
  gap:40px;
}

footer img{
  width:25%;
  margin: auto;
}

footer span:hover{
  text-decoration: underline;
  cursor: pointer;
}


@font-face {
  font-family: 'public sans';
  src: url('PublicSans-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}

@media screen and (max-width: 600px) {
  main{
    padding:15px;
    margin: .1% 5%;
  }

  #profile{
    height:40px; 
    width:40px;
  }

  #dayton, #date{
    font-size: .7em;
  }
}

/* @media screen and (max-width: 450px) {
  #profile{
    height:40px; 
    width:35px;
  }
} */
