* {
    box-sizing: border-box;
  } 

img{
    max-width: 100%;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

#top-head{
 width:100%;
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

#logo{
  width:40%;
}

#socials{
  display:flex;
  height:45px;
  gap:10px;
}

#socials img{
  filter: invert(61%) sepia(0%) saturate(0%) hue-rotate(97deg) brightness(93%) contrast(94%);
}

#socials img:hover{
  filter: invert(31%) sepia(69%) saturate(1491%) hue-rotate(345deg) brightness(101%) contrast(90%);
  cursor: pointer;
}

#bottom-head{
  background-color: #D94C27;
  width:100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bottom-head span{
  padding:15px;
  box-sizing: content-box;
  border-bottom: 3px solid #D94C27;
  font-weight: bold;

}

#bottom-head span:hover{
  border-bottom: 3px solid white;
  cursor: pointer;
}

#splash{
  width:100%;
  position: relative;
  max-height:20%;
  overflow: hidden;
}

#splash img{
  max-width:100%;
  width:100%;
  height: auto;
}

#splash h1{
  color:white;
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  text-align: center;
}

#content{
  width:90%;
  max-width:1000px;
  margin:auto;
  padding: 0px 30px;
}

#content p, #content li{
  font-size: 18px;
  line-height: 1.45;
  margin:0;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
  margin-bottom:5px;
  margin-top:15px;
}

footer{
  background-color: #181818;
  color: #737373;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#footertitle{
  color: #c7c7c7;
  font-size: 18px;
}

#fakerule{
  width:90%;
  border-top:1px solid #737373;
  margin:5px;
}

footer table{
  width:30%;
  font-weight: bold;
}

td:hover{
  color: #D94C27;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  #top-head {
    flex-direction: column;
    align-items: center;
  }

  #socials {
    justify-content: center;
  }

  #bottom-head {
    flex-direction: column;
    align-items: center;
  }

  #bottom-head span {
    padding: 10px;
    font-size: 16px;
  }

  #logo {
    width: 80%; /* Adjust for smaller screen */
  }

  #splash h1{
    font-size: 30px;
  }
}